* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #192a32;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game-overlay {
  background-color: #192a32;
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.new-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 40rem;

  z-index: 2;
}

.pick-container {
  background-color: #1f3540;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-radius: 7px;
  padding: 2rem;
}

.mark-toggle {
  border: none;
  border-radius: 7px;
  background-color: #192a32;
  padding: 0.5rem;
}

.mark {
  height: 0;
  width: 0;
  position: absolute;
}

.pick-heading,
.pick-text {
  text-transform: uppercase;
  color: #fff;
}

.pick-heading {
  font-weight: 600;
  font-size: 1.6rem;
}

.mark-icon {
  height: 3rem;
  padding: 0.6rem 5.5rem;
  box-sizing: content-box;
  border-radius: 7px;
  cursor: pointer;
}

.icon-x {
  content: url(img/icon-x-gray.svg);
}

.icon-x.selected {
  content: url(img/icon-x-dark.svg);
}

.icon-o {
  content: url(img/icon-o-gray.svg);
}

.icon-o.selected {
  content: url(img/icon-o-dark.svg);
}

.selected {
  background-color: #a8bfc9;
}

.pick-text {
  font-weight: 400;
  font-size: 1.2rem;
}

.new-btn {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;

  border: none;
  border-radius: 7px;
  width: 100%;
  height: 5rem;

  cursor: pointer;
}

.cpu-btn {
  background-color: #f2b137;
}

.player-btn {
  background-color: #31c3bd;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-bottom: 2rem;
  z-index: 0;
}

.logo-img {
  position: absolute;
  left: 0;

  height: 2.4rem;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  height: 3.4rem;
  background-color: #1f3540;

  border-radius: 0.7rem;

  box-shadow: 0 6px 0 0 #0f2229;
}

.turn-img {
  width: 1.6rem;
  height: 1.6rem;
}

.turn-text {
  text-transform: uppercase;
  color: #a8bfc9;
  font-size: 1.4rem;
  font-weight: 500;
}

.restart-btn {
  position: absolute;
  right: 0;
  background-color: #a3b9c4;
  border: none;
  border-radius: 0.7rem;
  height: 4rem;
  width: 4rem;

  cursor: pointer;
  background-image: url("img/icon-restart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f3540;
  height: 10rem;
  width: 10rem;

  border-radius: 1rem;

  box-shadow: 0 6px 0 0 #0f2229;

  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  justify-items: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
}

.score-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
}

.score-x {
  background-color: #31c3bd;
}

.score-tie {
  background-color: #a8bfc9;
}

.score-o {
  background-color: #f2b137;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 3rem;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #192a32;

  z-index: 1;
}

.text-result {
  color: #fff;

  text-transform: uppercase;
  font-size: 1.6rem;
}

.text-winner {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 800;
}

.action-container {
  display: flex;
  gap: 1rem;
}

.action-container button {
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem;

  cursor: pointer;
}

.quit-btn {
  background-color: #a3b9c4;
}

.next-btn {
  background-color: #f2b137;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #00000088;
}

.hidden {
  display: none;
}
